
.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
}

.notice-sm {
    padding: 10px;
    font-size: 80%;
}

.notice-lg {
    padding: 35px;
    font-size: large;
}

.notice-success {
    border-color: #80D651;
}

.notice-success > strong {
    color: #80D651;
}

.notice-info {
    border-color: #45ABCD;
}

.notice-info > strong {
    color: #45ABCD;
}

.notice-warning {
    border-color: #FEAF20;
}

.notice-warning > strong {
    color: #FEAF20;
}

.notice-danger {
    border-color: #d73814;
}

.notice-danger > strong {
    color: #d73814;
}

.auth-icon {
    color: #777;
    padding-right: 5px;
}

.auth-a {
    text-decoration: none !important;
}

.icon-link {
    color: #3490dc;
}

.table {
    margin-bottom: 0px;
}


.table th, .table td {
    border-bottom: none !important;
}

thead th, thead td {
    border-top: none !important;
}

.bt-none {
    border-bottom: none !important;
}

.table-bordered tbody td, th:last-child {
    border-right: none !important;
}

.table-bordered th:first-child {
    border-left: none !important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 25px;
    background-color: #fff;
    background-clip: border-box;
}

.card-header {
    margin-bottom: 0;
    padding: 1.25rem 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .05) !important;
    background-color: #fff;
}

.card-header:first-child {
    border-radius: 15px 15px 0 0;
}

.card-footer {
    padding: 1.25rem 1.5rem;
    border-top: 1px solid rgba(0, 0, 0, .05);
    background-color: #fff;
}

.card-footer:last-child {
    border-radius: 0 0 15px 15px;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .375rem;
}

.page-link {
    line-height: 1.25;
    position: relative;
    display: block;
    margin-left: -1px;
    padding: .5rem .75rem;
    color: #8898aa;
    border: 1px solid #dee2e6;
    background-color: #fff;
}

.page-link:hover {
    z-index: 2;
    text-decoration: none;
    color: #8898aa;
    border-color: #dee2e6;
    background-color: #dee2e6;
}

.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: none;
}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .375rem;
    border-bottom-left-radius: .375rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    border-color: #5e72e4;
    background-color: #5e72e4;
}

.page-item.disabled .page-link {
    cursor: auto;
    pointer-events: none;
    color: #8898aa;
    border-color: #dee2e6;
    background-color: #fff;
}

.page-item.active .page-link {
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

.page-item .page-link,
.page-item span {
    font-size: .875rem;
    display: flex;
    width: 36px;
    height: 36px;
    margin: 0 3px;
    padding: 0;
    border-radius: 50% !important;
    align-items: center;
    justify-content: center;
}

.text-middle {
    vertical-align: middle !important;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
    padding-left: -12px;
    bottom: 15px;
}

.badge {
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
}


.card .card__container {
    padding: 2rem;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 1rem;
    position: relative;
}

.card .card__header {
    margin-top: 40px;
    text-align: center;
}

.card .card__body {
    font-family: "Roboto", sans-serif;
}

.card-badge::before {
    position: absolute;
    top: 2rem;
    left: -0.5rem;
    content: "";
    background: #283593;
    height: 28px;
    width: 28px;
    transform: rotate(45deg);
}

.card-badge::after {
    position: absolute;
    content: attr(data-label);
    top: 11px;
    left: -14px;
    padding: 0.5rem;
    width: 10rem;
    background: #3949ab;
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
    box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
}

.required-input:after {
    content: "*";
    color: red;
    font-size: 14px;
    position: absolute;
    top: -2px;
}

.transaction-description{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.transaction-category{
    top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 4px;
    font-weight: 500;
    color: #fff;
}

.transaction-date{
    color: #3097d1;
    padding-top: 3px;
    font-weight: 500;
    padding-right: 10px;
}
.mobileFilter{
    display: none;
}
#mobileStatistics{
    display: none;
}


